* {
	box-sizing: border-box;
	padding: 0;
}
body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.76);
}
.container {
	margin-top: 100px;
	margin: 100px 20px 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.player,
.computer,
.playerScore,
.computerScore {
	color: #000;
	font-weight: 400;
}
p {
	margin: 10px;
}

h1 {
	font-size: 30px;
	font-weight: 300;
	color: red;
	background-color: #000;
	padding: 40px, 50px;
	border-radius: 30px;
	height: 50px;
	width: 380px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 50px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.246);
}

button {
	cursor: pointer;
	border: none;
	background-color: #000;
	color: red;
	padding: 5px;
	border-radius: 30px;
	height: 50px;
	width: 90px;
	margin: 10px;
	text-transform: uppercase;
	font-weight: 400;
	transition: all .5s;
}
button:hover {
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.246);
}

button:focus {
	outline: 0 !important;
}
h3 {
	font-size: 20px;
	color: grey;
	font-weight: 300;
	line-height: 1.6;
}
h2,
strong {
	margin-top: 30px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
@media (max-width: 600px) {
	.container {
		margin: auto;
		margin-top: 30px;
	}
	h1 {
		width: 75%;
		line-height: 1.1;
		height: 80px;
		padding-top: 12px;
		font-size: 28px;
	}
	p {
		margin-bottom: 20px;
	}
	h2 {
		margin: 5px;
	}
	h3 {
		margin-top: 10px;
	}
}
